body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  margin: 0;
}

#tablero {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  gap: 1px; /* espacio entre celdas para la cuadrícula */
  background-color: black; /* el fondo se ve como líneas de la cuadrícula */
  padding: 1px; /* evita que el primer borde se pierda */
}

.celda {
  background-color: #2e7d32; /* verde oscuro */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}


.destino {
  background-color: yellow;
  color: black;
}
